@using Payroll.UI.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    ViewBag.ViewHeader = "My Login";
}
<div class="login-box">
    <div class="login-logo">
        <a href="#" onclick="location.href='@Url.Action("Index","Home",null)'"><b>DGSR</b>Payroll</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <section id="loginForm">
            <p class="login-box-msg">Sign in to start your session</p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "email" } })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                @Html.EditorFor(model => model.RememberMe)
                                @Html.LabelFor(model => model.RememberMe)
                            </label>
                            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
        </section>
        <section class="social-auth-links text-center">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })            
        </section>
        <!-- /.social-auth-links -->

        <a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}