@using Payroll.UI.Web.Models
@model Payroll.UI.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="register-box">
    <div class="register-logo">
        <a href="#" onclick="location.href='@Url.Action("Index","Home",null)'"><b>DGSR</b>Payroll</a>
    </div>

    <div class="register-box-body">
        <section>
            <p class="login-box-msg">Register as a new membership</p>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", @type = "text" } })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name", @type = "text" } })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "email" } })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-xs-6">
                        <div class="checkbox icheck">
                            <label>
                                @Html.CheckBoxFor(model => model.IsAdmin)  Admin?
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkbox icheck">
                            <label>
                                @Html.CheckBoxFor(model => model.IsClerk)  Clerk?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
        </section>
        <section class="social-auth-links text-center">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
        @Html.ActionLink("I already have a membership", "Login", "Account")
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
